html {
	height: 100%;
}

body {
	padding-top: 3rem;
}

.bg {
	position: absolute;
	width: 100%;
	height: calc(100% - 3rem);
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/fb/Darts_in_a_dartboard.jpg);
	background-size: cover;
	background-position: center center;
	filter: blur(2px);
	z-index: -1;
	transform: scale(1.01);
}

.bg:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0, 0, 0, 0.375);
}

.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}

.container {
	height: 100%;
	margin-bottom: 1rem;
}

.starter-template {
	height: 100%;
}

.container span {
	margin: 0 0.5rem;
	line-height: 1rem;
	font-size: 1rem;
	font-weight: normal;
}

.container .list-group-item {
	background-color: rgba(255, 255, 255, 0.7);
}

.dropdown-item:active {
	background-color: #f6f7f8;
}
